body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #222;
}
/* PRODUCT SECTION */
.title {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
}

.subtitle {
  text-align: center;
  margin: 10px 0 30px;
  color: #444;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px 40px;
}

.product {
  position: relative;
  width: 260px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
  background: #fff;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.product img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.discount-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}

.price {
  color: #E91E63;
  font-weight: bold;
}

.old-price {
  color: #999;
  text-decoration: line-through;
  margin-left: 8px;
}

.status.black { color: #000; font-weight: bold; }
.status.blue { color: #2196F3; font-weight: bold; }

.btn, .buy-btn {
  display: inline-block;
  padding: 10px 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover, .buy-btn:hover {
  background-color: rgb(200, 48, 164);
  box-shadow: rgb(200, 48, 164) 0px 8px 15px;
}
